<!DOCTYPE html>
<html>
  <head>
    <title>Chatter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if error_msg}}
      <p class="error">{{error_msg}}</p>
    {{/if}}
    {{#if success_msg}}
      <p class="success">{{success_msg}}</p>
    {{/if}}
    {{{body}}}
  </body>
</html>
