<table border="1">
    <tr>
        <th>Nom</th>
        <th>Cognoms</th>
        <th>Email</th>
    </tr>
    {{#each usuaris}}
    <tr>
        <td>{{nom}}</td>
        <td>{{cognoms}}</td>
        <td>{{email}}</td>
    </tr>
    {{/each}}

</table>